/* Стили для Hero */

.hero {
    background-color: #f5f5f5;
    padding: 60px 0;
  }
  
  .hero .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .hero__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero__content {
    max-width: 600px;
  }
  
  .hero__content h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero__content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .hero__content button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .hero__content button:hover {
    background-color: #0056b3;
  }
  
  .hero__box {
    margin-top: 40px;
  }
  
  .hero__box img {
    max-width: 100%;
    height: auto;
  }
  
  .hero__box h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  
  .hero__img {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .hero__img img {
    width: 100px;
    height: auto;
  }
  